{% extends 'shop/base.html' %}

{% block title %}Contraseña Restablecida{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-body p-4 text-center">
                <h2 class="card-title mb-4">Contraseña restablecida con éxito</h2>
                <p class="mb-4">Tu contraseña ha sido restablecida. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}